*{
    margin: 0;
    box-sizing: border-box;
} 
body {
    font-family: 'Prompt', sans-serif;
    background-color: aliceblue;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(52, 52, 53);
    height: 80px;
    top: 0;
    position: sticky;
    z-index: 10;
}


.nav {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    padding: 16px 22px;
    color: white;
    min-width: 80px;
}

a{
    text-decoration: none;
    color: white;
}

.marca a {
    list-style: none;
    font-size: 1.6rem;
    padding: 0 0 0 16px;
    color: white;
}


main h1 {
    text-align: center;
    padding-top: 20px;
}

#carrito {
    cursor: pointer;
}

#menu {
    display: none;
}

.primero article img,
.segundo article img,
.tercero article img,
.cuarto article img {
    width: 150px;
    min-width: 100px;
    height: 200px;
    margin: 0 25px;
}

.primero,
.segundo,
.tercero,
.cuarto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding-bottom: 80px;
}


.primero article,
.segundo article, 
.tercero article,
.cuarto article{
    height: 330px;
    outline: 1px solid transparent;
    border-radius: 6px;
    width: 200px;
    box-shadow: 4px 4px 10px rgba(65, 63, 63, 0.897), -4px -4px 10px rgba(119, 117, 117, 0.897);
    min-width: 100px;
    transition: transform 0.4s ease-in-out;
}

section article button {
    width: 100px;
    height: 34px;
    border: none;
    outline: 2px solid rgb(52, 52, 53);
    border-radius: 6px;
    font-size: 1.2rem;
    color: rgb(52, 52, 53);
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, outline 0.4s ease-in-out;
}

section article button:hover {
    background-color: rgb(52, 52, 53);
    color: white;
    outline: 2px solid transparent;
}

section article p {
    font-size: 18px;
}

section article {
    text-align: center;
}

section article h2 {
    font-size: 1.8rem;
}

.primero article:hover,
.segundo article:hover,
.tercero article:hover,
.cuarto article:hover{
    transform: translateY(-10px);
}


/* Reseñas */
main section:last-child h3{
   padding: 0 0 50px 20px;
   font-size: 2em;
}

.op,
.user,
.user2 {
    display: grid;
    grid-template-columns: auto 40%;
    justify-content: start;
    grid-gap: 1px 12px;
    padding-bottom: 60px;
}

.op p,
.user p,
.user2 p {
    outline: 1px solid rgb(80, 79, 79);
    text-align: start;
    border-radius: 8px;
    font-size: 1em;
}

.op img,
.user img,
.user2 img {
    outline:  2px solid black;
    border-radius: 14px;
    margin-left: 14px;
}

@media(width < 460px) {
    header nav {
        display: none;
    }

    header #menu {
        display: block;
        padding-right: 20px;
    }
}

